<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="loginCheck">
    <ul th:if="${#request.remoteUser} == null" class="nav--actions">
        <li><a th:href="@{/login}" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a th:href="@{/register}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>
    <ul th:if="${#request.remoteUser} != null" class="nav--actions">
        <li class="logged-user">
            <div th:text="'Witaj: ' +${#request.remoteUser}"></div>
            <ul class="dropdown">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Panel admina</a></li>
                <li><a th:href="@{/myProfile/{id}(id=${userId})}">Zarzadzaj kontem</a></li>
                <li sec:authorize="!hasRole('ROLE_ADMIN')"><a th:href="@{/app/donations}">Moje zbiórki</a></li>
                <li><a th:href="@{/logout}">Wyloguj</a></li>
            </ul>
        </li>
    </ul>
    <span id="loggedEmail" th:text="${#request.remoteUser}" style="visibility: hidden"></span>
</div>
</body>
</html>