<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src ="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />

</head>
<body>
<header>
    <nav class="container container--70">
        <span th:include="fragments/loginCheck :: loginCheck"></span>

        <span th:include="fragments/header :: header"></span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
        <br/><br/><br/><br/>
        <div  style="font-weight: normal;font-size: 15px">Panel Admina</div>
        <span th:include="fragments/adminMenu :: adminMenu"></span>
        </span>
    </nav>
</header>

<section class="login-page">
    <h2>Formularz Fundacji</h2>

    <form th:object="${user}" th:action="@{/admin/user}" method="post">

        <div class="form-group">
            <label>Email: </label>
            <input type="text" th:field="*{email}" placeholder="Email"/>
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:value="true" th:field="*{enabled}"/>
            <input type="hidden" th:value="site" th:field="*{authProvider}"/>
        </div>
        <div class="form-group">
            <label>Imie: </label>
            <input type="text" th:field="*{firstName}" placeholder="imię" />
        </div>
        <div class="form-group">
            <label>Nazwisko: </label>
            <input type="text" th:field="*{lastName}" placeholder="nazwisko" />
        </div>
        <div class="form-group">
            <label>Hasło: </label>
            <input type="password" th:field="*{password}" placeholder="hasło" />
        </div>
        <div>
            <button type="submit" class="btn--large">Potwierdź</button>
        </div>
    </form>

</section>
<footer>
    <span th:include="fragments/footer :: footer"></span>
</footer>
</body>
</html>