<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav class="container container--70">
        <span th:include="fragments/loginCheck :: loginCheck"></span>

        <span th:include="fragments/header :: header"></span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
        <br/><br/><br/><br/>
        <div  style="font-weight: bold;font-size: 20px">Panel Administratora</div>
        <span th:include="fragments/adminMenu :: adminMenu"></span>
        </span>
      </nav>
    </header>

    <section class="login-page">
      <h2>Załóż konto</h2>
      <form th:action="@{/register}" method="post" th:object="${userDto}">
        <div class="form-group">
          <input type="text" name="firstName" th:field="*{firstName}" required="" placeholder="Imie" />
        </div>
        <div class="form-group">
          <input type="text" name="firstName" th:field="*{lastName}" required="" placeholder="Nazwisko" />
        </div>
        <div class="form-group">
          <input type="email" name="email" th:field="*{email}" required="" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password" th:field="*{password}" required="" placeholder="Hasło" />
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
          <a href="/login" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

    <footer th:include="fragments/footer :: footer">
    </footer>
  </body>
</html>
